.Modal {
    z-index: 14;
    width:350px;
    height:470px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color:white;
    border:thin solid rgb(204, 204, 204);
    border-radius:5px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.35);
    padding:45px 45px 25px 45px;
    transition:all .3s ease-out;
}

.ModalOpen{
    animation:openModal 0.4s ease-out forwards;
}

.ModalClosed{ 
    animation:closeModal 0.4s ease-out forwards;
}

.white{
    color:white;
}

@keyframes openModal {
    0% {
        opacity:0;
        transform: translate(-50%,-100%);
    }
    50% {
        opacity:.5;
        transform: translate(-50%,-60%);
    }
    100% {
        opacity:1;
        transform: translate(-50%,-50%);
    }
}
@keyframes closeModal {
    0% {
        opacity:1;
        transform: translate(-50%,-50%);
    }
    50% {
        opacity:.5;
        transform: translate(-50%,-60%);
    }
    100% {
        opacity:0;
        transform: translate(-50%,-100%);
    }
}
