.NavWrapper{
    box-sizing: border-box;
    display:flex;
    justify-content: flex-end;
}

.NavItem{
    margin-right:25px;
    padding:5px 15px 5px 15px;
    border-radius:3px;
    border:thin solid rgb(131, 131, 131);
    text-decoration: none;
    list-style-type: none;
    cursor:pointer;
}

.NavItem:hover {
    -webkit-box-shadow: 0px 9px 12px -10px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 9px 12px -10px rgba(0,0,0,0.4);
    box-shadow: 0px 9px 12px -10px rgba(0,0,0,0.4);
}

