.Circle {
    height: 40px;
    width: 40px;
    margin: 8px 0 5px 8px;
    background: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-out;
}  

.Circle:hover {
    -webkit-box-shadow: 0px 0px 17px -4px rgba(105, 105, 105, .6);
    -moz-box-shadow: 0px 0px 17px -4px rgba(105, 105, 105, .6);
    box-shadow: 0px 0px 17px -4px rgba(105, 105, 105, .6);
    cursor: pointer;
    border-radius: 13px;
   
}

.Room a{
    text-decoration:none;
    width:100%;
    box-sizing: border-box;
    display:block; 
    border-left:4px solid transparent; 
}

.Room a.active {
    border-left:4px solid white;
    text-decoration:none;
}
.Room a:hover{
    text-decoration:none;
}



