.circle {
    height: 40px;
    width: 40px;
    margin: 8px 0 5px 8px;
    background: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.circle:hover {
    -webkit-box-shadow: 0px 0px 17px -4px rgba(105, 105, 105, .6);
    -moz-box-shadow: 0px 0px 17px -4px rgba(105, 105, 105, .6);
    box-shadow: 0px 0px 17px -4px rgba(105, 105, 105, .6);
    background-color: #4a4b58;
    color:white;
    cursor: pointer;
}


